/*  background-attachment: fixed  也可实现滚动视差 */

* {
  margin: 0;
  padding: 0;
}

.shell {
  height: 100vh;
  overflow-x: hidden;
  /* perspective 会让子元素会获得透视效果 */
  perspective: 3px;
}

.shell div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 30px;
  letter-spacing: 3px;
}

.image {
  /* 在3d 空间中 沿Z轴后退一个像素 再放大1.6倍 */
  transform: translateZ(-1px) scale(1.6);
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.text {
  height: 40vh;
  background-color: #fff;
}

.text h1 {
  color: #000;
}

.heading {
  z-index: -1;
  transform: translateY(-30vh) translateZ(1px);
  color: #fff;
  font-size: 30px;
}
